@import url('https://fonts.googleapis.com/css?family=Merienda:700');
@import url('https://fonts.googleapis.com/css?family=Amaranth:400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700');

::selection {
  background-color: rgba(0, 76, 132, .3);
}
* {
  box-sizing: border-box;
  transition: .2s ease;
  margin: 0;
  list-style-type: none;
}
html {
  font-size: 10px;
}
body {
  padding: 0;
  margin: 0;
  font-weight: 300;
  color: #343434;
  line-height: 1.8;
  background-color: #fefefe;
  font-size: 1.4rem;
  font-family: 'PT Sans Caption', sans-serif;
}
ul, ol {
  padding: 0;
  list-style: none;
}
[class*="Nav"]> ul {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: #004c84;
  text-decoration: none;
}
h1, h2 {
  font-family: 'Merienda', cursive;
}
h3, h4, h5 {
  font-family: 'Amaranth', sans-serif;
}
.text-center {
  text-align: center;
}
.title {
  font-size: 2.8rem;
  text-transform: capitalize;
}
.button {
  background-color: rgb(0, 108, 202);
  color: #fefefe;
  box-shadow: 0px 1px 1px #808080c4;
  display: inline-block;
  padding: 1em 3em;
  letter-spacing: 2px;
}
.button:hover {
  background-color: rgb(0, 188, 202);
  color: #FFFFFF;
}
.icon {
  width: 1.8em;
  height: auto;
}
.container {
  max-width: 1080px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.header {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 10;
}
.header__logo{
  width: auto;
  height:32px;
}

.header__logo__img {
  width: auto;
  height: 32px;
}
.globalNav li {
  display: inline-block;
  margin-left: 2em;
}
.globalNav li a {
  color: #343434;
}
.globalNav li a:hover {
  color: #004c84;
}
/* hide checkbox of the hamburger menu*/
input[type="checkbox"]{
  display: none;
}
/* for hamburger menu */
@media screen and (max-width:768px){
  header{
    position: relative;
  }
  .globalNav{
    width:100%;
    text-align: right;
  }
  .globalNav li{
    margin-left: 0;
  }
  label{
    width:100%;
    top:0;
    right:0;
    height:30px;
    cursor:pointer;
  }
  /* menu is hidden until it has been clicked */
  .nav-menu-menu{
    position: absolute;
    top:55px;
    left:0;
    width:100vw;
    height:95vh;
    padding: 30px 18px;
    background: #fff;
    /* set animation on background */
    transform-origin:0% 0%;
    transform:translate(100%, 0);
    transition: transform .5s ease-in-out;
    z-index:2;
  }
  /* it opens when checkbox has been clicked */
  input:checked ~ .nav-menu-menu{
    transform:none;
  }
  .nav-menu-menu > li{
    width:100%;
    height:40px;
    text-align: left;
  }
  .menu-bar{
    display: inline-block;
    margin-right: auto;
    width:28px;
    height:23px;
    vertical-align: middle;
    z-index: 3;
    position: relative;
  }
  .menu-bar span{
    position: absolute;
    left:0;
    width:100%;
    height:3px;
    /* margin:5px; */
    background: #004c84;
    border-radius:3px;
  }
  /* set animation of nav opens*/
  .menu-bar span:nth-of-type(1){
    top:0;
    animation: switch-top .75s backwards;
    -webkit-animation:switch-top .75s backwards;
  }
  .menu-bar span:nth-of-type(2){
    top:10px;
    transition:all .25s .25s;
    opacity:1;
  }
  .menu-bar span:nth-of-type(3){
    bottom: 0;
    animation: switch-btm .75s backwards;
    -webkit-animation: switch-btm .75s backwards;
  }
  @keyframes switch-top{
    0%{transform:translateY(10px) rotate(45deg);}
    50%{transform:translateY(10px) rotate(0);}
    100%{transform:translateY(0) rotate(0);}
  }
  @-webkit-keyframes switch-top{
    0%{-webkit-transform:translateY(10px) rotate(45deg);}
    50%{-webkit-transform:translateY(10px) rotate(0);}
    100%{-webkit-transform:translateY(0) rotate(0);}
  }
  @keyframes switch-btm {
    0%{transform:translateY(-10px) rotate(-45deg);}
    50%{transform:translateY(-10px) rotate(0);}
    100%{transform:translateY(0) rotate(0);}
  }
  @-webkit-keyframes switch-btm {
    0%{-webkit-transform:translateY(-10px) rotate(-45deg);}
    50%{-webkit-transform:translateY(-10px) rotate(0);}
    100%{-webkit-transform:translateY(0) rotate(0);}
  }

  /* set animation of nav closes */
  input:checked ~ .menu-bar span:nth-of-type(1){
    animation:switch-top-active .75s forwards;
    -webkit-animtion:switch-top-active .75s forwards;
  }
  input:checked ~ .menu-bar span:nth-of-type(2){
    opacity:0;
  }
  input:checked ~ .menu-bar span:nth-of-type(3){
    animation:switch-btm-active .75s forwards;
    -webkit-animtion:switch-btm-active .75s forwards;
  }
  @keyframes switch-top-active{
    0%{transform:translateY(0) rotate(0);}
    50%{transform:translateY(10px) rotate(0);}
    100%{transform:translateY(10px) rotate(45deg);}
  }
  @-webkit-keyframes switch-top-active{
    0%{-webkit-transform:translateY(0) rotate(0);}
    50%{-webkit-transform:translateY(10px) rotate(0);}
    100%{-webkit-transform:translateY(10px) rotate(45deg);}
  }
  @keyframes switch-btm-active{
    0%{transform:translateY(0) rotate(0);}
    50%{transform:translateY(-10px) rotate(0);}
    100%{transform:translateY(-10px) rotate(-45deg);}
  }
  @-webkit-keyframes switch-btm-active{
    0%{-webkit-transform:translateY(0) rotate(0);}
    50%{-webkit-transform:translateY(-10px) rotate(0);}
    100%{-webkit-transform:translateY(-10px) rotate(-45deg);}
  }
}
.footer {
  background-color: #00bcca;
  padding: 4rem 20px 1rem;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
}
.footerNav li {
  display: inline-block;
  margin-right: 1em;
}
.footerNav li a {
  color: #fefefe;
}
.footerNav li a:hover {
  color: #004c85;
}
.footerLink li {
  display: inline-block;
  margin-left: 1em;
}
.footerLink a {
  color: #343434;
}
.footerLink a:hover {
  color: #004c85;
}
.footer__logo {
  width: 80px;
  height: auto;
}
.copyright {
  font-size: 12px;
  text-align: center;
  color: #fefefe;
}
@media screen and (max-width:768px) {
  .header{
    padding: 10px 14px;
  }
  .header__logo{
    height: 35px;
    vertical-align: bottom;
  }
  .globalNav li{
    margin-left: .6rem;
  }
  .footer__logo{
    width:100px;
  }
  .footerNav li{
    display: block;
  }
  .footerLink{
    margin-top: auto;
  }
  .copyright{
    margin: 3rem .5rem 1rem;
  }
}

.hero {
  background: url("../img/hero-bg.jpg") center center no-repeat;
  background-size: cover;
}
.hero__content {
  margin-top: 52px;
  min-height: 600px;
  height: calc(100vh - 52px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.hero__content-text {
  width: 50vw;
  text-align: center;
}
.hero__content-logo {
  max-width: 200px;
  width: 45vw;
  height: auto;
}
.imageList-items {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.imageList-item {
  width: 25%;
  height: auto;
  padding: 0 10px;
}
@media screen and (max-width: 414px){
  .imageList-item {
    width: 50%;
    margin-bottom: 20px;
  }
}
.imageList-item img {
  display: block;
}
@media screen and (min-width: 768px){
  .imageList-items {
    padding: 6rem;
  }
}
.concept {
  background: url("../img/concept-bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 6rem 0;
  position: relative;
}
.concept::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.6);
  z-index: 1;
}
.concept__content {
  width: 80%;
  max-width: 600px;
  margin: 6rem auto;
  text-align: center;
  position: relative;
  z-index: 2;
}
.staff {
  padding: 6rem 0;
}
.staff__header {
  text-align: center;
  margin-bottom: 6rem;
}
.staff-profiles {
  margin-bottom: 6rem;
}
.staff-profile {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
@media screen and (min-width: 768px){
  .staff-profiles {
    display: flex;
    justify-content: space-between;
  }
  .staff-profile {
    width: 30%;
  }
  .staff-comment__name{
    margin:2rem 0 1rem;
  }
}
.staff-profile__img__wrap {
  max-width: 240px;
  width: 100%;
  max-height: 240px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  border:5px solid #ccc
}
.staff-profile__img{
  width: 100%;
  border-radius: 50%;

}

.staff-comment__name {
  font-family: 'Merienda', cursive;
  text-align: center;
  margin:2rem 0 5rem;
  font-size: 1.75rem;
}
.menu {
  background: url("../img/menu-bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 6rem 0;
}
.menu__content {
  width: 50vw;
  margin: 6rem auto;
  text-align: center;
}

.contact__content p{
  margin: 1rem 0;
}

.contact__reservation {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5rem;
  margin-bottom: 3rem;
}
.contact__reservation .reservation__btn {
  margin: 1em 0 0;
  text-align: center;
}
@media screen and (min-width: 768px){
  .contact__content {
    display: flex;
    justify-content: space-between;
  }
  .contact__reservation {
    border-right: 1px solid #ddd;
    border-bottom: none;
    width: 50%;
    padding-right: 5%;
  }
  .information {
    width: 40%;
  }
}
.contact {
  padding: 6rem 0;
}
.information__sns {
  padding: 0;
  margin:1rem 0;
}
.information__sns li {
  display: inline-block;
  margin-right: 1em;
}
.onlineShop {
  background: url("../img/bg-img.jpg") center center no-repeat;
  background-size: cover;
  padding: 6rem 0;
  position: relative;
  background-position: 0 85%;
}
.onlineShop::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.6);
  z-index: 1;
}
.onlineShop__content {
  width: 50vw;
  margin: 6rem auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

/* Styles */
.staff__name{
	margin:20px 0 0;
	font-size:2.5rem;
}
main{
  margin: auto;
  width: 980px;
}
#heading-img{
  height: 400px;
  margin: 52px 0 0;
  /* background-image: url() */
  line-height: 400px;
  text-align: center;
  color:white;
}
.heading-img__cover{
  background-color: rgba(0, 0, 0, 0.35);
}

#heading-img.styles{
  background-image: url('../img/styles.jpg');
  background-position: center center;
  background-size: cover;
}
#heading-img.price{
  background-image: url('../img/price.jpg');
  background-position: 50% 60%;
  background-size: cover;
}
#heading-img.access{
  background-image: url('../img/access.jpg');
  background-position: 50% 60%;
  background-size: cover;
}
#heading-img.contact{
  background-image: url('../img/contact.jpg');
  background-position: 50% 60%;
  background-size: cover;
  padding: 0;
}

.content__wrap{
  width: 980px;
  margin: 100px 0;
}
.content{
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
	align-items:center;
}
.staff__img__wrap{
	margin-right:5rem;
	width:230px;
	height:230px;
  border-radius:50%;
  border:5px solid #ccc;
}
.staff__img{
  width: 100%;
  height:100%;
  border-radius: 50%;
}

.staff__styles__wrap{
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:70%;
  justify-content: center;
}

.staff__styles__heading{
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  align-items: center;
  margin: 0 0 16px;
}

.staff__styles__heading__icon{
  width: 160px;
  background-color: #ccc;
  padding: 1.2rem;
  text-align: center;
  font-weight: bold;
  margin-left: 17px;
}
.staff__styles__heading__description{
  width: 75%;
  margin-left: 17px;
}
.staff__styles__heading__description__profiles li{
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
}
.profiles__th{
  width:25%;
  font-weight: bold;
}
.profiles__td{
  width:75%;
}

.staff__styles__img__list{
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  flex-direction: row;
  /* margin-left: 25px; */
  align-items: flex-end;
}
.staff__styles__img__block{
  width: 90%;
  margin-left: 10%;
}
@media only screen and (max-width:768px){
  main{
    width:100%;
  }
  .content__wrap{
    width:100%;
  }
  .content{
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5% 5%;
  }
  .staff__name{
    text-align: center;
    margin-bottom: 0;
  }
  .staff__img__wrap{
    width:230px;
    height:230px;
    margin:2rem 0 3rem;
    align-items:center;
  }
  .staff__styles__wrap{
    width:100%;
  }
  .staff__styles__heading{
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  .staff__styles__heading__icon{
    width:100%;
    margin:0 1rem 1rem;
  }
  .staff__styles__heading__description{
    width: 100%;
    margin: 0;
  }
  .profiles__th{
    width:35%;
  }
  .staff__styles__img__list{
    flex-wrap: wrap;
  }
  .staff__styles__img__list__dt{
    width:49%;
  }
  .staff__styles__img__list__dt.left{
    margin:0 .45rem .45rem 0;
  }
  .staff__styles__img__list__dt.right{
    margin:0 0 .45rem;
  }
  .staff__styles__img__block{
    margin:0;
    width:100%;
  }
}
@media only screen and (min-width:320px){
  .staff__styles__img__list__dt{
    width: 48.7%;
  }
}
.g{
  border-radius: 
}
/* Price */



.h2_price_page {
  font-family: 'Merienda', cursive;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
  margin-left: 5px;
}

*:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 140px;
  padding: 0 8px;
  margin-left: auto;
  margin-right: auto;
}
div.price_circle {
  border-radius: 50%;
  width: 260px;
  height: 260px;
  position: relative;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #00008bba;
}

div.price_circle img{
  border-radius: 50%;
  height: 260px;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
 }

div.price_circle img:hover{
  height: 260px;
  opacity: 0.5;
  -webkit-transform: scale(1);
  transform: scale(1);
 }

.column p{
  text-align: center;
  margin-top: 15px;
 }

.column h2{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 1px #8080805e;
 }

@media only screen and (max-width:768px){
  .h2pricepage{
    text-align: center;
  }
    .column {
    width: 100%;
    display: block;
  }
}

/* Access */
.googlemap-wrap {
  margin: 30px auto;
  text-align: center;
  max-width: 600px;
  width: 90%;
}

.googlemap-wrap iframe {
  width: 100%;
  height: 450px;
}

.access-table {
  margin: 0 auto;
  max-width: 600px;
  width: 90%;
  border-collapse: collapse;
  /* border: 1px solid black; */
}

.access-table th, .access-table td{
  padding: 1rem;
  border-bottom:1px solid #aaa;
}

.access-table td {
  font-size: 15px;
  margin: 20px;
}

.td-small {
  padding-left: 25px;
}

/* Contact */
#contact {
  /* font-size: 60px; */
  width:980px;
  margin:0 auto;
  text-align: center;
}

#contact .name, #contact .email, #contact .title, #contact .message {
  padding: 0px 0rem;
  font-size: 15px;
  margin: 0 0 30px;
  width: 600px;
}

#contact .name, #contact .email, #contact .title{
    height: 40px;
}

#contact .message{
  min-height: 160px;
}

.form__th{
  width: 10%;
  display: inline-block;
}

#contact label#name, #contact label#email, #contact label#title, #contact label#message{
  font-size: 20px;
}

#contact input{
  border:1px solid #aaa;
}

#contact .submit {
  border: none;
  padding: 1em 3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(0, 108, 202);
  color: #fefefe;
  box-shadow: 0px 1px 1px #808080c4;
  letter-spacing: 2px;
}

#contact .submit:hover {
  background-color: rgb(0, 188, 202);
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  form{
    width:90%;
    margin: auto;
  }
  #contact {
    /* font-size: 60px; */
    width: 100%;
    margin: 0 auto;
    text-align: left;
  }

  #contact .name {
    padding: 0px 0rem;
    margin: 0;
    width: 100%;
    height: 30px;
  }

  #contact .email {
    padding: 0px 0rem;
    margin: 0;
    width: 100%;
    height: 30px;
  }

  #contact .title {
    padding: 0px 0rem;
    margin: 0;
    width: 100%;
    height: 30px;
  }

  #contact .message {
    padding: 0px 0rem;
    margin: 0;
    width: 100%;
    height: 100px;
  }
  #contact .submit{
    margin: 2rem 0;
  }
}

/* Reservation Section */
.reservation{
  text-align: center;
  margin:2rem;
}
.reservation__title {
  font-size: 40px;
}
.reservation__btn{
  display: block;
  width: 220px;
  margin: 1rem auto 5rem;
  padding: 1.2rem 0;
  background-color: #d04c1c;
  color: #fefefe;
  box-shadow: 0px 1px 1px #808080c4;
  letter-spacing: 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.reservation__btn:hover {
  background-color: #ff4400;
  color: #FFFFFF;
}
